.delete--button{
    border:tomato;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: tomato;
    position: fixed;
    bottom: 20px;
    left: 20px;
    /* transform: rotate(-45deg); */
    transition: all 0.5s;
    z-index: 1;
}

.cancel{
    transform: rotate(45deg);
    transition: all 0.5s;
}

.icon-trash{
    color: white;
    font-size: 22px;
}