.todo-list--container{
    display: flex;
    justify-content: center;
}

.todo-list--container ul{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    width: 100%;
    min-width: 260px;
}