.todo-item--container{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

.icon{
    font-size: 30px;
    margin: 2px;
}

.todo_item-icon--container{
    display: flex;
    margin-left: 10px;
}

.icon-times{
    color: red;
}

.icon-check{
    color: green;
}

.desabled{
    display: none;
}