.todo-item--container{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    border: orangered 1px solid;
    margin-bottom: 20px;
    padding: 15px;
}

.icon{
    font-size: 30px;
    margin: 2px;
}

.todo_item-icon--container{
    display: flex;
    margin-left: 10px;
}

.icon-times{
    color: red;
}

.icon-check{
    color: green;
}

.text-desabled{
color: rgb(192, 169, 169);
}

.desabled{
    display: none;
}